@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1D1D;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Alegreya', serif;
  overflow-x: hidden;
}
